body{
    min-width: 1400px;
}
#box{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
/* 顶部导航区块 */
#logo{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #fff;
}
#logo .top_bar{
    position: relative;
    top: 0;
    left: 0;
    width: 1000px;
    height: 55px;
    margin: 0 auto;
}
#logo .top_bar .img{
    position: absolute;
    top: 0;
    left: 0;
}
#logo .top_bar .img a{
    float: left;
    display: block;
}
#logo .top_bar .img a.logo1{
    width: 133px;
    height: 44px;
    margin-top: 5px;
}
#logo .top_bar .img a.logo2{
    width: 420px;
    height: 55px;
    margin-left: 10px;
    position: relative;
}
#logo .top_bar .img a img{
    display: block;
    width: 100%;
    height: 100%;
}
#logo .top_bar .img .scale{
    position: absolute;
    top: 55px;
    width: 960px;
    height: 250px;
    z-index: 99;
    display: none;
}
#logo .top_bar .img .scale .close{
    position: absolute;
    top: 10px;
    right: 12px;
    width: 32px;
    height: 32px;
    background: #fff url('../img/close.png');
}
#logo .top_bar .nav{
    position: absolute;
    top: 0;
    right: -26px;
}
#logo .top_bar .nav li{
    float: left;
    height: 52px;
    line-height: 52px;
    font-size: 12px;
    padding: 0 12px;
    background-color: #fff;
    transition: .3s;
    color: #bc2e2e;
    border-bottom: 3px solid transparent;
    margin-right: 2px;
}
#logo .top_bar .nav li.game span{
    position: relative;
    left: 4px;
    top: 4px;
    display: inline-block;
    border: 6px solid #bc2e2e;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
#logo .top_bar .nav li.banner{
    width: 96px;
    top: 0px;
    overflow: hidden;
}
#logo .top_bar .nav li.banner .wrap{
    width: 100%;
    height: 200%;
}
#logo .top_bar .nav li.banner .wrap a{
    display: block;
    width: 100%;
    height: 50%;
}
#logo .top_bar .nav li a{
    color: #333;
}
#logo .top_bar .nav li:hover a{
    color: #bc2e2e;
}
#logo .top_bar .nav li:hover{
    border-bottom-color: #bc2e2e;
    background-image: -webkit-linear-gradient(top,#F3F3F3 0,#FEFEFE 52px);
}
/* header区块 */
#header{
    position: relative;
    width: 100%;
    height: 585px;
    background: #fff url('../img/index/main_banner.jpg') no-repeat top center;
    background-size: 100%;
}
/* header区块--导航拦 */
#nav{
    width: 100%;
    height: 100px;
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
#nav.hover{
    background: rgba(255,255,255,.75);
}
#nav.scroll{
    background: rgba(255,255,255,.75);
    position: fixed;
    width: 100%;
    min-width: 1157px;
}
#nav .leftNav{
    float: left;
    width: 370px;
    height: 100%;
    display: none;
}
#nav .leftNav .qrcode{
    float: left;
    width: 125px;
    height: 100%;
}
#nav .leftNav .qrcode p{
    float: left;
    font-size: 16px;
    width: 16px;
    line-height: 16px;
    margin: 18px 10px;
}
#nav .leftNav .qrcode img{
    float: left;
    width: 73px;
    height: 73px;
    margin: 13px 0;
    padding-right: 15px;
    border-right: 1px solid #ccc;
}
#nav .leftNav .mLogo{
    float: right;
    width: 245px;
    height: 87px;
    margin-top: 13px;
}
#nav .leftNav .mLogo .img{
    width: 73px;
    height: 73px;
    background: url('../img/index/index.png') 158px -157px;
}
#nav .leftNav .mLogo p{
    float: left;
    margin-left: 15px;
}
#nav .leftNav .mLogo .p1{
    font-size: 30px;
    font-weight: bold;
}
#nav .leftNav .mLogo .p2{
    font-size: 16px;
}
#nav .mainList{
    float: right;
    width: 770px;
    height: 99px;
    padding-top: 1px;
    overflow: hidden;
}
#nav .mainList li{
    float: left;
    width: 110px;
    height: 100px;
    font-size: 16px;
    line-height: 100px;
}
#nav .mainList li a{
    color: #fff;
    transition: .3s;
}
#nav .mainList li a:hover{
    color: #cc4436;
}
#nav .mainList li a.hover{
    color: #cc4436;
}
#nav .mainList li .line{
    width: 15px;
    height: 25px;
    margin-left: 20px;
    color: #fff;
    font-size: 20px;
    transition: .3s;
    user-select: none;
}
#nav .mainList li.show .arrow{
    display: none;
    width: 0;
    height: 0;
    border: 10px solid #e1ebeb;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    margin: -22px 0 0 24px;
}
#nav .mainList li.show:hover .arrow{
    display: block;
}
#nav .mainList li.show .hide{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #e1ebeb;
    display: none;
}
#nav .hideList{
    width: 1130px;
    margin: 0 auto;
}
#nav .hideList li{
    position: relative;
    float: left;
    width: 200px;
    margin-top: 46px;
}
#nav .hideList li a{
    width: 112px;
    position: absolute;
    top: 0;
    left: calc(50% - 56px);
    transition: 1s;
}
#nav .hideList li a.top:hover{
    top: -20px;
}
#nav .hideList li a i{
    display: block;
    margin: 0 auto;
    background-image: url('../img/index/index.png');
}
#nav .hideList li a i.i1{
    width: 80px;
    height: 70px;
    background-position: -331px -587px;
}
#nav .hideList li a i.i2{
    width: 81px;
    height: 68px;
    background-position: -541px -587px;
}
#nav .hideList li a i.i3{
    width: 80px;
    height: 80px;
    background: url('../img/index/wb.png') no-repeat center/80px 80px;
}
#nav .hideList li a i.i4{
    width: 80px;
    height: 80px;
    background: url('../img/index/wx.jpg') no-repeat center/80px 80px;
}
#nav .hideList li a p{
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #666;
}
#nav .hideList li a p.none{
    display: none;
}
#nav .hideList li a.display:hover p.block{
    display: none;
}
#nav .hideList li a.display:hover p.none{
    display: block;
}
#nav .hideList li .Line{
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 105px;
    background-color: #c8d0d0;
}
#nav .qqList{
    width: 330px;
    overflow: hidden;
}
#nav .qqList li{
    float: left;
    width: 140px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #666;
    margin: 0 0 0 25px;
}
#nav .qqList + .qq{
    width: 320px;
    font-size: 14px;
    color: #666;
}
/* header区块--阴阳师图片 */
#header .logo{
    position: absolute;
    top: 38px;
    left: 50px;
    width: 50px;
    height: 160px;
    opacity: 0;
    background: url('../img/index/logo.png');
    transform: scale(1);
    transition: transform .3s,opacity 1s,left 1s;
    z-index: 9;
}
#header .logo.scale{
    transform: scale(0);
}
/* header区块--人物角色轮播 */
#role{
    position: relative;
    width: 1200px;
    height: 585px;
    margin: 0 auto;
    opacity: 1;
    user-select: none;
}
#role div .img{
    position: absolute;
    transition: 1s;
}
#role .rol1 .img1{
    width: 573px;
    height: 589px;
    top: 10px;
    left: 160px;
}
#role .rol1 .img2{
    width: 740px;
    height: 490px;
    top: 0;
    left: 384px;
}
#role .rol1 .img.hide{
    left: 272px;
    opacity: 0;
}
#role .rol2 .img1{
    width: 665px;
    height: 487px;
    top: 75px;
    left: -35px;
    z-index: 2;
}
#role .rol2 .img2{
    width: 792px;
    height: 468px;
    top: 65px;
    left: 307px;
}
#role .rol2 .img.hide{
    left: 136px;
    opacity: 0;
}
#role .btn{
    width: 41px;
    height: 66px;
    position: absolute;
    top: 290px;
    right: 305px;
    cursor: pointer;
    transition: .6s;
    opacity: 0;
}
#role .btn:hover{
    transform: scale(1.1);
}
#server{
    width: 135px;
    height: 118px;
    position: absolute;
    bottom: 0;
    left: 66px;
    z-index: 9;
}
/* header区块--服务器列表 */
#server a{
    display: block;
    width: 102px;
    height: 119px;
}
#server a img{
    width: 100%;
    height: 100%;
}
#server:hover{
    opacity: .75;
}
#serverList{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.75);
}
#serverList .main{
    position: absolute;
    top: 525px;
    left: 250px;
    width: 1150px;
    height: 595px;
    background: url("../img/index/pop_bg.png") no-repeat -115px -20px/100% 100%;
    margin-left: -575px;
    margin-top: -297px;
    transform: scale(0);
    transition: transform .5s;
}
#serverList .main.show{
    top: 50%;
    left: 50%;
    transform: scale(1);
}
#serverList .main .bg{
    position: absolute;
    bottom: 19px;
    right: 37px;
    width: 254px;
    height: 176px;
    background:url("../img/index/index.png") -330px -857px;
}
#serverList .main .close{
    position: absolute;
    top: 50px;
    right: 100px;
    width: 31px;
    height: 31px;
    background: url('../img/index/index.png') 115px -714px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: .3s;
}
#serverList .main .close:hover{
    transform: rotate(180deg);
}
/* header区块--底部波浪 */
#wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 91px;
    overflow: hidden;
}
#wave .waveGroup{
    width: 100%;
    height: 91px;
    position: absolute;
    bottom: 0;
}
#wave .waveGroup img{
    position: absolute;
    top: 0;
    width: 1284px;
    height: 91px;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#wave .waveGroup.waveGroup1{
    left: 0;
    opacity: 1;
}
#wave .waveGroup1 img.wave1{
    left: 0;
    animation-name: wave1;
}
#wave .waveGroup1 img.wave2{
    left: 1284px;
    animation-name: wave2;
}
#wave .waveGroup1 img.wave3{
    left: 2568px;
    animation-name: wave3;
}
#wave .waveGroup.waveGroup2{
    left: 428px;
    opacity: .66;
}
#wave .waveGroup2 img.wave1{
    left: -1284px;
    animation-name: wave0;
}
#wave .waveGroup2 img.wave2{
    left: 0;
    animation-name: wave1;
}
#wave .waveGroup2 img.wave3{
    left: 1284px;
    animation-name: wave2;
}
#wave .waveGroup.waveGroup3{
    left: 856px;
    opacity: .33;
}
#wave .waveGroup3 img.wave1{
    left: -1284px;
    animation-name: wave0;
}
#wave .waveGroup3 img.wave2{
    left: 0;
    animation-name: wave1;
}
#wave .waveGroup3 img.wave3{
    left: 1284px;
    animation-name: wave2;
}
@keyframes wave0{
    form{left:-1284px}
    to{left:-2568px}
}
@keyframes wave1{
    form{left:0}
    to{left:-1284px}
}
@keyframes wave2{
    form{left:1284px}
    to{left:0px}
}
@keyframes wave3{
    form{left:2568px}
    to{left:1284px}
}
/* slide区块--导航拦 */
#slide{
    position: absolute;
    top: 345px;
    right: -2px;
    width: 460px;
    height: 1107px;
    background: url('../img/index/side_bg.png');
}
#slide .title{
    position: absolute;
    top: -17px;
    left: 26px;
    width: 312px;
    height: 170px;
    background: url('../img/index/index.png') -587px -853px;
    z-index: 3;
}
#slide .arrow{
    position: absolute;
    top: 140px;
    left: 0px;
    width: 0;
    height: 0;
    border: 5px solid #fee300;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
#slide .download{
    position: absolute;
    top: 102px;
    right: 460px;
    padding: 5px;
    width: 23px;
    height: 123px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 7px 4px #feeb00 inset;
    background-color: #fccc00;
    transition: width 1s;
    overflow: hidden;
    z-index: 3;
}
#slide .download.on{
    width: 533px;
}
#slide .download .shrink{
    width: 23px;
    height: 105px;
    margin-top: 9px;
    background: url('../img/index/index.png') 231px -613px;
    cursor: pointer;
}
#slide .download .main{
    width: 533px;
    height: 100%;
}
#slide .download .main .close{
    float: left;
    width: 22px;
    height: 22px;
    margin: 15px 5px;
    background: url('../img/index/index.png') 106px -621px;
}
#slide .download .main .bg{
    float: left;
    width: 48px;
    height: 100%;
    background: url('../img/index/index.png') 208px -613px;
    margin: 8px 0 0 10px;
}
#slide .download .main .qrcode{
    position: relative;
    float: left;
    width: 107px;
    height: 107px;
    margin: 6px 0 0 10px;
}
#slide .download .main .qrcode .qr{
    display: block;
    width: 91px;
    height: 91px;
    padding: 8px;
    background-color: #fff;
    border-radius: 5px;
}
#slide .download .main .qrcode .line{
    position: absolute;
    top: 0;
    left: 0;
    width: 107px;
    height: 10px;
    animation: move 3s linear infinite alternate;
}
@keyframes move{
    from{top:0}
    to{top:97px}
}
#slide .download .main .downLink{
    float: left;
    width: 175px;
    height:120px;
    margin: 8px 0 0 10px;
}
#slide .download .main .downLink a{
    float: left;
    display: block;
    width: 171px;
    height: 51px;
    margin-bottom: 4px;
    transition: .3s;
}
#slide .download .main .downLink .ios{
    background: url('../img/index/index.png') -480px -1476px;
}
#slide .download .main .downLink .android{
    background: url('../img/index/index.png') -651px -1476px;
}
#slide .download .main .downLink a:hover{
    opacity: .75;
}
#slide .download .main .pc{
    float: left;
    display: block;
    width: 131px;
    height: 107px;
    background: url('../img/index/pc.png');
    margin: 8px 0 0 5px;
    transition: .3s;
    border-radius: 5px;
}
#slide .download .main .pc:hover{
    opacity: .75;
}
#slide .contain{
    margin-top: 140px;
    position: relative;
}
#slide .contain ul li{
    background-image: url('../img/index/index.png');
    position: absolute;
    transition: height .5s,left .5s,right .5s;
    overflow: hidden;
}
#slide .contain ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
#slide .contain ul li .show .dec{
    position: absolute;
    width: 180px;
    height: 30px;
    top: 55px;
    font-size: 13px;
    line-height: 15px;
    color: #000;
}
/* li定位及背景样式修改 */
#slide .contain ul li:nth-child(odd){
    left: 10px;
}
#slide .contain ul li:nth-child(odd) .show .dec{
    left: 15px;
}
#slide .contain ul li:nth-child(even){
    right: 130px;
}
#slide .contain ul li:nth-child(even) .show .dec{
    right: 0px;
}
#slide .contain ul li:nth-child(1){
    width: 314px;
    height: 104px;
    background-position: -661px -1040px;
    top: 0px;
}
#slide .contain ul li:nth-child(2){
    width: 324px;
    height: 96px;
    background-position: -615px -1295px;
    top: 100px;
}
#slide .contain ul li:nth-child(2) .show .dec{
    top: 45px;
}
#slide .contain ul li:nth-child(3){
    width: 307px;
    height: 97px;
    background-position: -307px -1293px;
    top: 190px;
}
#slide .contain ul li:nth-child(3) .show .dec{
    top: 48px;
}
#slide .contain ul li:nth-child(4){
    width: 294px;
    height: 100px;
    background-position: -301px -1194px;
    top: 285px;
}
#slide .contain ul li:nth-child(4) .show .dec{
    top: 47px;
}
#slide .contain ul li:nth-child(5){
    width: 331px;
    height: 145px;
    background-position: -330px -1039px;
    top: 375px;
    z-index: 2;
}
#slide .contain ul li:nth-child(6){
    width: 308px;
    height: 99px;
    background-position: -0px -1297px;
    top: 470px;
}
#slide .contain ul li:nth-child(7){
    width: 309px;
    height: 108px;
    background-position: -1078px -882px;
    top: 560px;
}
#slide .contain ul li:nth-child(8){
    width: 312px;
    height: 104px;
    background-position: -906px -1186px;
    top: 655px;
}
#slide .contain ul li:nth-child(9){
    width: 312px;
    height: 100px;
    background-position: -595px -1190px;
    top: 750px;
}
/* li滑入特效 */
#slide .contain ul li.pos{
    z-index: 3;
}
#slide .contain ul li:nth-child(odd):hover{
    left: 20px;
}
#slide .contain ul li:nth-child(even):hover{
    right: 120px;
}
#slide .contain ul li:nth-child(2).pos{
    background-position: -308px 2px;
}
#slide .contain ul li:nth-child(2):hover{
    height: 360px;
}
#slide .contain ul li:nth-child(3).pos{
    background-position: -620px -662px;
}
#slide .contain ul li:nth-child(3):hover{
    height: 191px;
}
#slide .contain ul li:nth-child(4).pos{
    background-position: -327px -667px;
}
#slide .contain ul li:nth-child(4):hover{
    height: 183px;
}
#slide .contain ul li:nth-child(5).pos{
    background-position: 0 -364px;
}
#slide .contain ul li:nth-child(5):hover{
    height: 296px;
}
#slide .contain ul li:nth-child(5) .hide{
    top: 135px;
    left: 15px;
}
#slide .contain ul li:nth-child(6).pos{
    background-position: 0 0;
}
#slide .contain ul li:nth-child(6):hover{
    height: 364px;
}
#slide .contain ul li .hide{
    position: absolute;
    top: 95px;
    left: 45px;
    width: 240px;
    font-size: 13px;
    line-height: 20px;
    color: #000;
    z-index: 3;
}
#slide .contain ul li .hide p{
    margin: 8px 0;
}
#slide .contain ul li .hide time{
    color: #f95c19;
}
/* 用一个白色高层级区块填充高度 因为屏幕宽度不够，导致背景图片的百分比高度较官网小了约20px，如果给下面的区块定位覆盖，又会覆盖旁边#slide区块，实在不得已，用这个蠢办法了。*/
#fff{
    width: 940px;
    height: 20px;
    background-color: #fff;
    position: relative;
}
/* 信息内容 */
#content{
    width: 1400px;
    margin: 0 auto;
}
#news{
    width: 940px;
    height: 270px;
    padding-bottom: 49px;
}
#news .banner{
    position: relative;
    float: left;
    width: 360px;
    height: 100%;
}
#news .banner .pic{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#news .banner .pic ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    height: 100%;
}
#news .banner .pic ul li{
    width: 10%;
    height: 100%;
    float: left;
}
#news .banner .btn{
    width: 120px;
    height: 14px;
    position: absolute;
    left: calc(50% - 60px);
    bottom: 10px;
}
#news .banner .btn ul li{
    float: left;
    width: 8px;
    height: 8px;
    border: 3px solid #e37b63;
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
}
#news .banner .btn ul li.on{
    background-color: #e37b63;
}
#news .info{
    width: 500px;
    height: 100%;
    float: left;
    position: relative;
    margin-left: 39px;
}
#news .info .btn{
    width: 100%;
    height: 35px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    margin-bottom: 2px;
}
#news .info .btn ul li{
    float: left;
    position: relative;
    margin-right: 15px;
    width: 74px;
    height: 35px
}
#news .info .btn ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
#news .info .btn ul li a span{
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 44px;
    height: 30px;
    display: block;
    background-image: url('../img/index/index.png');
    background-repeat: no-repeat;
}
#news .info .btn ul li:nth-child(1) a span{
    background-position: -1400px -1151px;
}
#news .info .btn ul li:nth-child(2) a span{
    background-position: -1400px -1030px;
}
#news .info .btn ul li:nth-child(3) a span{
    background-position: -1400px -1091px;
}
#news .info .btn ul li:nth-child(4) a span{
    background-position: -1400px -1122px;
}
#news .info .btn ul li:nth-child(5) a span{
    background-position: -1400px -1061px;
}
#news .info .btn ul li a em{
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 74px;
    height: 33px;
    border-radius: 20px;
    opacity: 0;
    transition: .3s;
}
#news .info .btn ul li.on a em{
    background: #68d7fc;
    opacity: 1;
}
#news .info .btn ul li a:hover em{
    top: 0;
    opacity: 1;
}
#news .info .btn ul li a i{
    position: absolute;
    top: 6px;
    right: -18px;
    width: 17px;
    height: 28px;
    background: url('../img/index/index.png') no-repeat -1459px -504px;
}
#news .info .newsList{
    width: 100%;
    height: 221px;
    overflow: hidden;
    position: absolute;
}
#news .info .newsList .list{
    position: absolute;
    left: 0;
    width: 500%;
    height: 100%;
}
#news .info .newsList .list ul{
    float: left;
    width: 20%;
    height: 100%;
}
#news .info .newsList .list ul li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dotted #999;
}
#news .info .newsList .list ul li a{
    color: #333;
    font-size: 14px;
    float: left;
    width: 80%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#news .info .newsList .list ul li a:hover{
    color: #c1831c;
}
#news .info .newsList .list ul li:nth-child(1){
    border-top: 1px solid #000;
}
#news .info .newsList .list ul li.recommend a{
    background:  #fefbd2 url('../img/index/content/recommen.png') no-repeat left center;
    text-indent: 60px;
    color: #313131;
    font-size: 14px;
    font-weight: 400;
}
#news .info .newsList .list ul li.recommend a strong{
    font-size: 16px;
    color: #313131;
    font-weight: 700;
}
#news .info .newsList .list ul li span{
    float: right;
    font-style: normal;
    color: #bccddc;
    font-size: 12px;
    line-height: 40px;
    font-weight: 400;
}
/* 式神列表 */
#shishen{
    // position: relative;
    width: 100%;
    height: 607px;
    background: #fff url('../img/index/content/strategy_bg.jpg') no-repeat center 105px;
}
#shishen .main{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
#shishen .main .title{
    width: 600px;
    height: 96px;
    margin: 0 0 42px 100px;
}
#shishen .main .title .bg1{
    float: left;
    width: 130px;
    height: 69px;
    margin: 16px 12px 0 0;
    background: url('../img/index/index.png') -411px -587px;
}
#shishen .main .title .dotted{
    float: left;
    width: 44px;
    height: 4px;
    margin-top: 50px;
    background: url('../img/index/index.png') no-repeat -1422px -153px;
}
#shishen .main .title .tab{
    position: relative;
    float: left;
    display: block;
    width: 100px;
    height: 91px;
    margin: 5px 8px 0;
}
#shishen .main .title .tab span{
    position: relative;
    display: block;
    width: 70px;
    height: 33px;
    margin: 27px auto 0;
    background-image: url('../img/index/index.png');
}
#shishen .main .title .tab .tab1{
    background-position: -1400px -865px;
}
#shishen .main .title .tab .tab2{
    background-position: -1473px -1443px;
}
#shishen .main .title .tab i{
    position: absolute;
    bottom: -5px;
    opacity: 0;
    width: 96px;
    height: 100%;
    transition: .3s;
    background: url('../img/index/index.png') -939px -1297px;
}
#shishen .main .title .tab.on i{
    bottom: 0;
    opacity: 1;
}
#shishen .main .title .tab:hover i{
    bottom: 0;
    opacity: 1;
}
#shishen .main .show .area{
    position: absolute;
    width: 827px;
    height: 296px;
    margin-left: 100px;
    display: none;
}
#shishen .main .show .area.on{
    display: block;
}
#shishen .main .show .area1 .btn{
    width: 100%;
    height: 50px;
    margin-bottom: 33px;
    border-bottom: 1px dotted #333;
}
#shishen .main .show .area1 .btn li{
    float: left;
    font-size: 18px;
    font-weight: 700;
    margin-right: 32px;
    margin-top: 14px;
    user-select: none;
}
#shishen .main .show .area1 .btn .look{
    float: left;
    margin-top: 12px;
    user-select: none;
}
#shishen .main .show .area1 .btn li a{
    color: #000;
}
#shishen .main .show .area1 .btn li.on a{
    color: #cea441;
}
#shishen .main .show .area1 .btn li:hover a{
    color: #cea441;
}
#shishen .main .show .area1 .pic{
    position: relative;
    width: 827px;
    height: 212px;
}
#shishen .main .show .area1 .pic .list{
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
}
#shishen .main .show .area1 .pic .list.on{
    display: block;
}
#shishen .main .show .area1 .pic .list ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    height: 100%;
}
#shishen .main .show .area1 .pic .list ul li{
    float: left;
    width: 89px;
    height: 202px;
    padding: 5px 24px 0;
    border-right: 1px solid #95a7a4;
    user-select: none;
}
#shishen .main .show .area1 .pic .list ul li:nth-child(6n+6){
    border: none;
    padding-right: 25px;
}
#shishen .main .show .area1 .pic .list ul li div{
    width: 89px;
    height: 89px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
}
#shishen .main .show .area1 .pic .list ul li div img{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 81px;
    height: 81px;
    border: 2px solid #ccc;
    border-radius: 50%;
}
#shishen .main .show .area1 .pic .list ul li div p{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    opacity: 0;
    transition: .5s;
}
#shishen .main .show .area1 .pic .list ul li div p span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 400;
    font-style: normal;
    width: 14px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
}
#shishen .main .show .area1 .pic .list ul li div:hover p{
    opacity: 1;
}
#shishen .main .show .area1 .pic .list ul li div i.new{
    position: absolute;
    top: 0;
    right: -7px;
    width: 31px;
    height: 36px;
    background: url('../img/index/content/shishen/new_icon_253bf40.png');
}
#shishen .main .show .area1 .pic .list a{
    position: absolute;
    top: calc(50% - 16px);
    width: 42px;
    height: 33px;
    background-image: url('../img/index/index.png');
}
#shishen .main .show .area1 .pic .list a.hide{
    display: none;
}
#shishen .main .show .area1 .pic .list a.prev{
    left: 0;
    background-position: -1400px -832px;
}
#shishen .main .show .area1 .pic .list a.next{
    right: 0;
    background-position: -1400px -931px;
}
#shishen .main .show .area1 .pic .list a.prev:hover{
    background-position: -1400px -964px;
}
#shishen .main .show .area1 .pic .list a.next:hover{
    background-position: -1400px -898px;
}
#shishen .main .show .area2 .choose{
    float: left;
    width: 150px;
    margin-top: 20px;
}
#shishen .main .show .area2 .choose ul{
    width: 100%;
    height: 100%;
}
#shishen .main .show .area2 .choose ul li{
    width: 100%;
    height: 39px;
    margin-bottom: 20px;
}
#shishen .main .show .area2 .choose ul li a{
    display: block;
    position: relative;
    width: 136px;
    height: 35px;
    background: transparent;
    border: 2px solid #fff;
    transition: .3s;
}
#shishen .main .show .area2 .choose ul li a span{
    display: block;
    width: 136px;
    height: 35px;
    color: #000;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
}
#shishen .main .show .area2 .choose ul li a em{
    position: absolute;
    top: calc(50% - 5px);
    right: -10px;
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid #000;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    opacity: 0;
    transition: .3s;
}
#shishen .main .show .area2 .choose ul li.on a{
    background: #fff;
    border: 2px solid #000
}
#shishen .main .show .area2 .choose ul li:hover a{
    background: #fff;
    border: 2px solid #000;
}
#shishen .main .show .area2 .choose ul li.on a em{
    opacity: 1;
}
#shishen .main .show .area2 .choose ul li:hover em{
    opacity: 1;
}
#shishen .main .show .area2 .character{
    position: relative;
    float: right;
    width: 607px;
    height: 308px;
    margin-right: 20px;
}
#shishen .main .show .area2 .character ul{
    width: 100%;
    height: 100%;
}
#shishen .main .show .area2 .character ul li{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
#shishen .main .show .area2 .character ul li.on{
    display: block;
}
#shishen .main .show .area2 .character ul li img{
    float: left;
    display: block;
    margin-top: -30px;
}
#shishen .main .show .area2 .character ul li .info{
    float: right;
    width: 227px;
    margin-top: 40px;
}
#shishen .main .show .area2 .character ul li .info h4{
    width: 100%;
    height: 23px;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}
#shishen .main .show .area2 .character ul li .info h3{
    line-height: 40px;
    font-size: 30px;
    color: #000;
    width: 100%;
    border-bottom: 2px solid #000;
    border-top: none;
    margin-bottom: 2px;
    font-weight: bold;
}
#shishen .main .show .area2 .character ul li .info p{
    width: 100%;
    color: #333;
    font-size: 14px;
    line-height: 22px;
    padding-top: 5px;
    border-top: 1px solid #000;
    margin-bottom: 19px;
}
#shishen .main .show .area2 .character ul li .info a{
    display: block;
    width: 55px;
    height: 42px;
    background: url('../img/index/index.png') -1401px -671px;
    opacity: 1;
    transition: .3s;
}
#shishen .main .show .area2 .character ul li .info a:hover{
    opacity: .75;
}
/* 战略区块 */
#strategy{
    width: 1200px;
    height: 437px;
    margin: 0 auto;
}
#strategy .left{
    float: left;
    width: 368px;
    height: 430px;
    border: 2px solid #000;
    position: relative;
}
#strategy .left .search{
    width: 372px;
    height: 40px;
    position: absolute;
    left: -2px;
    top: -58px;
    border: 2px solid #000;
}
#strategy .left .search input{
    width: 300px;
    height: 40px;
    line-height: 40px;
    border: none;
    margin-left: 10px;
    outline: medium;
}
#strategy .left .search span{
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 58px;
    height: 58px;
    background: url('../img/index/index.png') -1400px -563px;
}
#strategy .left .search span:hover{
    background-position: -1400px -505px;
}
#strategy .left .banner{
    position: relative;
    width: 368px;
    height: 228px;
    overflow: hidden;
}
#strategy .left .banner .wrap{
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
}
#strategy .left .banner .wrap a{
    display: block;
    float: left;
    width: 50%;
    height: 100%;
}
#strategy .left .btn{
    width: 100%;
    height: 16px;
    margin: 18px 0;
    text-align: center;
}
#strategy .left .btn span{
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 4px solid #000;
    border-radius: 50%;
}
#strategy .left .btn span.on{
    background-color: #000;
}
#strategy .left .nav{
    width: 368px;
    height: 150px;
}
#strategy .left .nav ul{
    width: 100%;
    height: 100%;
}
#strategy .left .nav ul li{
    float: left;
    width: 92px;
    height: 100%;
    cursor: pointer;
}
#strategy .left .nav ul li p{
    float: left;
    display: block;
    width: 24px;
    height: 134px;
    margin-left: 34px;
    background-image: url('../img/index/index.png');
    position: relative;
    top: 0;
    transition: .3s;
}
#strategy .left .nav ul li:hover p{
    top: -15px;
}
#strategy .left .nav ul li:nth-child(1) p{
    background-position: -1343px -315px;
}
#strategy .left .nav ul li:nth-child(2) p{
    background-position: -1307px -467px;
}
#strategy .left .nav ul li:nth-child(3) p{
    background-position: -1319px -315px;
}
#strategy .left .nav ul li:nth-child(4) p{
    background-position: -1367px -315px;
}
#strategy .left .nav ul li i{
    float: right;
    display: block;
    width: 11px;
    height: 100%;
    background: url('../img/index/index.png') -1295px -316px;
}
#strategy .right{
    float: right;
    width: 790px;
}
#strategy .right .title{
    width: 100%;
    border-bottom: 1px solid #cbcdcc;
    margin-bottom: 25px;
    padding-bottom: 12px;
    overflow: hidden;
}
#strategy .right .title .tab.bg1{
    float: left;
    width: 134px;
    height: 85px;
    background: url('../img/index/index.png') no-repeat -1035px -1297px;
    margin-right: 12px;
    margin-top: 0;
}
#strategy .right .title .dotted{
    float: left;
    margin: 50px 5px 0;
    width: 44px;
    height: 4px;
    background: url('../img/index/index.png') no-repeat -1422px -153px;
}
#strategy .right .title .tab{
    position: relative;
    float: left;
    width: 100px;
    height: 91px;
}
#strategy .right .title .tab span{
    position: relative;
    display: block;
    margin: 27px auto 0;
    background-image: url('../img/index/index.png');
    background-repeat: no-repeat;
}
#strategy .right .title .tab i{
    position: absolute;
    bottom: -5px;
    opacity: 0;
    width: 96px;
    height: 100%;
    transition: .3s;
    background: url('../img/index/index.png') -939px -1297px;
}
#strategy .right .title .tab.on i{
    bottom: 0;
    opacity: 1;
}
#strategy .right .title .tab .tab1{
    top: -7px;
    width: 68px;
    height: 39px;
    background-position: -1400px -755px;
}
#strategy .right .title .tab .tab2{
    width: 71px;
    height: 31px;
    background-position: -1400px -997px;
}
#strategy .right .title .tab .tab3{
    top: -5px;
    width: 75px;
    height: 38px;
    background-position: -1400px -794px;
}
#strategy .right .title .tab .tab4{
    width: 80px;
    height: 31px;
    background-position: -1239px -993px;
}
#strategy .right .banner{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
#strategy .right .banner .wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
}
#strategy .right .banner .wrap ul{
    float: left;
    width: 20%;
    height: 100%;
}
#strategy .right .banner .wrap ul li{
    float: left;
    margin-right: 38px;
    width: 342px;
    height: 48px;
    padding-top: 10px;
    padding-left: 15px;
    border-bottom: 1px dotted #333;
}
#strategy .right .banner .wrap ul li a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
#strategy .right .banner .wrap ul li a .dec{
    font-size: 14px;
    color: #333;
    width: 100%;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#strategy .right .banner .wrap ul li a i{
    position: absolute;
    top: 6px;
    left: -15px;
    width: 0;
    height: 0;
    border-left: 7px solid #333;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
#strategy .right .banner .wrap ul li a .author{
    font-size: 14px;
    color: #b2afaf;
    font-weight: 400;
    font-style: normal;
}
#strategy .right .banner .wrap ul li a:hover .dec{
    color: #c1831c;
}
/* 同人区块 */
#tongren{
    width: 1200px;
    height: 537px;
    margin: 0 auto;
}
#tongren .title{
    width: 100%;
    height: 77px;
    margin: 50px auto;
    position: relative;
}
#tongren .title .bg1{
    float: left;
    width: 112px;
    height: 106px;
    margin: -14px 24px 0 0;
    background: url('../img/index/index.png') no-repeat -928px -666px;
}
#tongren .title ul{
    float: left;
    width: 1062px;
    height: 100%;
}
#tongren .title ul li{
    float: left;
    width: 150px;
    height: 75px;
    border-bottom: 2px solid #000;
}
#tongren .title ul li a{
    display: block;
    width: 150px;
    height: 77px;
    border-right: 1px dotted #000;
    position: absolute;
    overflow: hidden;
}
#tongren .title ul li a span{
    position: absolute;
    top: 20px;
    left: calc(50% - 36px);
    width: 72px;
    height: 18px;
    background-image: url('../img/index/index.png');
    background-repeat: no-repeat;
    transition: .3s;
}
#tongren .title ul li:nth-child(1) a span{
    background-position: -1400px -1264px;
}
#tongren .title ul li:nth-child(2) a span{
    background-position: -1400px -1300px;
}
#tongren .title ul li:nth-child(3) a span{
    background-position: -1400px -1282px;
}
#tongren .title ul li:nth-child(4) a span{
    background-position: -1400px -1246px;
}
#tongren .title ul li:nth-child(5) a span{
    background-position: -1400px -1228px;
}
#tongren .title ul li:nth-child(6) a{
    border: none;
}
#tongren .title ul li:nth-child(6) a span{
    width: 88px;
    background-position: -1252px -1149px;
}
#tongren .title ul li a i{
    position: absolute;
    top: 75px;
    width: 155px;
    height: 54px;
    background-image: url('../img/index/fan/icons.png');
    background-repeat: no-repeat;
    transition: .3s;
}
#tongren .title ul li.on a span{
    top: 0;
}
#tongren .title ul li.on a i{
    top: 24px;
}
#tongren .title ul li:nth-child(1) a i{
    background-position: -5px 0;
}
#tongren .title ul li:nth-child(2) a i{
    background-position: -170px 0;
}
#tongren .title ul li:nth-child(3) a i{
    background-position: -320px 0;
}
#tongren .title ul li:nth-child(4) a i{
    background-position: -480px 0;
}
#tongren .title ul li:nth-child(5) a i{
    background-position: -630px 0;
}
#tongren .title ul li:nth-child(6) a i{
    background-position: -920px 0;
}
#tongren .title .bg2{
    position: absolute;
    top: 26px;
    right: 12px;
    float: right;
    width: 103px;
    height: 25px;
    background: url('../img/index/index.png') no-repeat -930px -608px;
    transition: .3s;
}
#tongren .title .bg2:hover{
    right: 0;
}
#tongren .banner{
    width: 100%;
    height: 415px;
    position: relative;
    overflow: hidden;
}
#tongren .banner .wrap{
    position: absolute;
    left: 0;
    width: 1000%;
    height: 100%;
}
#tongren .banner .wrap ul{
    float: left;
    width: 10%;
    height: 100%;
}
#tongren .banner .wrap ul li{
    float: left;
    width: 285px;
    height: 200px;
    margin: 0 6px 12px;
}
#tongren .banner .wrap ul li a{
    position: relative;
    display: block;
    width: 100%;
    height: 163px;
}
#tongren .banner .wrap ul li a img{
    display: block;
    width: 100%;
    height: 100%;
}
#tongren .banner .wrap ul li a .cover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.25);
    transition: .3s;
}
#tongren .banner .wrap ul li a .cover i{
    position: absolute;
    width: 79px;
    height: 93px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: url('../img/index/index.png')  no-repeat -679px -474px;
}
#tongren .banner .wrap ul li a .cover:hover{
    opacity: 1;
}
#tongren .banner .wrap ul li .author{
    width: 100%;
    height: 37px;
    line-height: 37px;
    font-size: 14px;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* 画册区块 */
#huace{
    width: 1200px;
    height: 164px;
    margin: 50px auto;
}
#huace ul{
    width: 100%;
    height: 100%;
}
#huace ul li{
    width: 364px;
    height: 160px;
    float: left;
    border: 2px solid #000;
    position: relative;
    margin: 0 14px 0 18px;
}
#huace ul li p{
    position: absolute;
    width: 20px;
    padding: 20px 10px;
    border: 2px solid #000;
    left: -20px;
    top: -10px;
    background: #fff;
    text-align: center;
    line-height: 16px;
}
#huace ul li p span{
    font-size: 15px;
    font-weight: 700;
}
#huace ul li p i{
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    background: url('../img/index/huace_bg.png') no-repeat center;
}
#huace ul li p i.top{
    top: 0;
}
#huace ul li p i.bottom{
    bottom: 0;
}
#huace ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
/* 视图区块 */
#shitu{
    width: 1400px;
    height: 514px;
    background: url('../img/index/video/video_bg.jpg') no-repeat;
}
#shitu .contain{
    width: 1200px;
    height: 100%;
    padding-top: 45px;
    margin: 0 auto;
}
#shitu .contain .shitu{
    float: left;
    width: 580px;
    height: 430px;
}
#shitu .contain .picture{
    float: right;
}
#shitu .contain .shitu div{
    float: left;
    width: 270px;
    height: 200px;
    margin: 0 20px 20px 0;
}
#shitu .contain .shitu div a{
    display: block;
    width: 100%;
    height: 154px;
    overflow: hidden;
}
#shitu .contain .shitu div a img{
    display: block;
    width: 100%;
    height: 100%;
    transition: .3s;
}
#shitu .contain .shitu div a img:hover{
    transform: scale(1.1);
}
#shitu .contain .shitu div p{
    width: 100%;
    height: 46px;
    font-size: 14px;
    line-height: 46px;
    background-color: #fff;
    text-indent: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#shitu .contain .picture div p{
    color: #666;
    background-color: transparent;
}
#shitu .contain .video div:nth-child(1) a{
    width: 227px;
    height: 148px;
    background: url('../img/index/index.png') no-repeat -1080px -466px;
}
#shitu .contain .picture div:nth-child(1) a{
    width: 248px;
    height: 148px;
    background: url('../img/index/index.png') no-repeat -1080px -614px;
}
/* 活动区块 */
#activity{
    width: 1400px;
    height: 434px;
    margin: 50px auto 0;
}
#activity .contain{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
#activity .contain .left{
    float: left;
    width: 257px;
    height: 370px;
    background: url('../img/index/activity/activity_title.png') no-repeat;
}
#activity .contain .right{
    float: right;
    width: 940px;
    height: 380px;
}
#activity .contain .right ul{
    width: 100%;
    height: 100%;
}
#activity .contain .right ul li{
    float: left;
    width: 270px;
    height: 153px;
    margin: 0 0 42px 42px;
}
#activity .contain .right ul li a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#activity .contain .right ul li a img{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .3s;
}
#activity .contain .right ul li a img:hover{
    transform: scale(1.1);
}
#activity .contain .right ul li a span{
    position: absolute;
    bottom: 4px;
    left: 4px;
    padding: 6px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;

}
/* 联系方式区块 */
#contact{
    width: 1400px;
    height: 200px;
}
#contact .contain{
    width: 1200px;
    height: 100%;
    padding-bottom: 74px;
    margin: 0 auto;
}
#contact .contain .bg1{
    float: left;
    display: block;
    width: 70px;
    height: 199px;
    margin-right: 105px;
    background: url('../img/index/contact/bg1.png') no-repeat center/contain;
}
#contact .contain .QR{
    float: left;
    width: 270px;
    height: 200px;
    position: relative;
    background: #f6f6f6;
    margin-right: 117px;
}
#contact .contain .QR .text{
    margin: 20px 0 0 30px;
    overflow: hidden;
}
#contact .contain .QR .text .p1{
    width: 27px;
    float: left;
    line-height: 17px;
    font-size: 16px;
}
#contact .contain .QR .text .p2{
    float: left;
    width: 24px;
    height: 96px;
    margin-top: 2px;
    background-image: url('../img/index/index.png');
    background-repeat: no-repeat;
}
#contact .contain .weibo .text .p2{
    background-position: -1360px -762px;
}
#contact .contain .weixin .text .p2{
    height: 120px;
    background-position: -1330px -466px;
}
#contact .contain .QR .code{
    position: absolute;
    top: -32px;
    right: -32px;
    width: 164px;
    height: 164px;
    border: 1px solid #ccc;
    background-color: #fff;
}
#contact .contain .QR .code img{
    width: 132px;
    height: 132px;
    padding: 16px;
}
#contact .contain .QR .line{
    width: 52px;
    height: 2px;
    background: #d1d1d1;
    position: absolute;
    bottom: 40px;
    left: 33px;
}
#contact .contain .QR .name{
    position: absolute;
    bottom: 15px;
    left: 33px;
    color: #000;
    font-size: 14px;
}
#contact .contain .QR .name span{
    font-size: 14px;
    color: #d2c199;
}
#contact .contain .phone{
    float: left;
    width: 225px;
    height: 185px;
    position: relative;
}
#contact .contain .phone h3{
    position: absolute;
    top: -32px;
    width: 111px;
    height: 109px;
    background: url('../img/index/index.png') no-repeat -569px -474px;
}
#contact .contain .phone .p1{
    font-size: 14px;
    line-height: 22px;
    margin-top: 100px;
}
#contact .contain .phone .p2{
    font-family: Georgia,"Microsoft Yahei";
    font-size: 20px;
    margin-bottom: 16px;
    line-height: 22px;
}
#contact .contain .phone .line{
    width: 52px;
    height: 2px;
    background: #d1d1d1;
    display: block;
    margin-bottom: 4px;
}
#contact .contain .phone span{
    font-size: 13px;
    color: #dbbe7c;
    margin-right: 5px;
    cursor: pointer;
}
#contact .contain .phone span:hover{
    text-decoration: underline;
}
#contact .contain .bg2{
    float: right;
    position: relative;
    top: 0;
    right: 0;
    display: block;
    width: 25px;
    height: 111px;
    background: url('../img/index/index.png') no-repeat -1355px -465px;
    transition: .3s;
}
#contact .contain .bg2:hover{
    top: -20px;
}
/* 尾部区块 */
#footer{
    position: relative;
    width: 1400px;
    height: 730px;
    margin-top: 50px;
    background: #fff url('../img/index/footer.jpg') no-repeat top center;
}
#footer h2{
    position: absolute;
    top: 114px;
    width: 100%;
    height: 29px;
    text-align: center;
    line-height: 29px;
    font-weight: 500;
    font-size: 29px;
    color: #fff;
    letter-spacing: 45px;
    margin: 0 auto;
}
#footer .QRcode{
    position: absolute;
    top: 144px;
    left: calc(50% - 165px);
    width: 330px;
    height: 330px;
    padding-top: 50px;
    margin: 0 auto 0;
    overflow: hidden;
}
#footer .QRcode a{
    display: block;
    width: 100%;
    height: 100%;
}
#footer .QRcode a h3{
    width: 100%;
    height: 28px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 23px;
    font-weight: 100;
    letter-spacing: 10px;
    opacity: .8;
    transition: .5s;
}
#footer .QRcode a:hover h3{
    opacity: 0;
}
#footer .QRcode a .icon{
    position: absolute;
    top: 120px;
    left: calc(50% - 11px);
    width: 22px;
    height: 76px;
    transition: .5s;
}
#footer .QRcode a:hover .icon{
    top: 25px;
}
#footer .QRcode a .icon .top{
    display: block;
    width: 16px;
    height: 16px;
    border: 3px solid #fff;
    border-radius: 50%;
}
#footer .QRcode a .icon .bottom{
    display: block;
    width: 4px;
    height: 54px;
    background: repeating-linear-gradient(#fff, transparent);
    margin: 0 0 0 9px;
}
#footer .QRcode a .bg{
    position: absolute;
    left: calc(50% - 108px);
    bottom: -15px;
    width: 216px;
    height: 224px;
    background: url('../img/index/index.png') no-repeat -354px -363px;
    transition: .5s;
}
#footer .QRcode a:hover .bg{
    bottom: -65px;
}
#footer .QRcode a .code{
    width: 152px;
    height: 152px;
    position: absolute;
    left: calc(50% - 76px);
    top: 115px;
    opacity: 0;
    transition: .5s;
}
#footer .QRcode a:hover .code{
    top: 75px;
    opacity: 1;
}
#footer .QRcode a .code img{
    display: block;
    width: 100%;
    height: 100%;
}
#footer .QRcode a .code .dec{
    position: absolute;
    top: 0;
    right: -48px;
    width: 16px;
    height: 152px;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}
#footer .share{
    position: absolute;
    top: 530px;
    left: calc(50% - 230px);
    width: 460px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #de7f7f;
    padding-top: 10px;
}
#footer .share a{
    display: inline-block;
    color: #de7f7f;
    font-size: 14px;
    margin: 0 5px;
}
#footer .share a i{
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    margin-right: 3px;
    cursor: pointer;
}
#footer .share a:hover{
    color: #c9b27c;
}
#footer .end{
    position: absolute;
    bottom: 0;
    width: 1400px;
    height: 160px;
}
#footer .end .part1{
    width: 840px;
    height: 48px;
    margin: 0 auto;
}
#footer .end .part1 .left{
    float: left;
    width: 280px;
    height: 32px;
    padding: 8px 0;
}
#footer .end .part1 .left a{
    display: inline-block;
}
#footer .end .part1 .right{
    float: right;
    width: 516px;
    height: 100%;
}
#footer .end .part1 .right .p1 a{
    font-size: 12px;
    line-height: 20px;
    margin: 0 1px;
    color: #333;
}
#footer .end .part1 .right p a:hover{
    text-decoration: underline;
}
#footer .end .part1 .right .p2 a{
    float: right;
    display: block;
    width: 152px;
    height: 16px;
    line-height: 16px;
    padding: 5px;
    background-color: #610000;
    color: #fff;
}
#footer .end .part2{
    width: 840px;
    margin: 0 auto;
}
#footer .end .part2 p{
    font-family: SimSun;
    line-height: 24px;
    font-size: 12px;
}
#footer .end .part2 a{
    font-family: SimSun;
    line-height: 24px;
    font-size: 12px;
    color: #333;
}
#footer .end .part2 a:hover{
    text-decoration: underline;
}
#footer .end .part2 span{
    font-family: SimSun;
    line-height: 24px;
    font-size: 12px;
}
